


.content{
  width: 10px;
  padding: 25px;
  min-height: 30px; 
  background-color: #00FFFF;
}

.content-sidebar{
  width: 10px;
  padding: 25px;
  min-height: 30px; 
  background-color: 	#00FF7F;
}

.content-main{
  width: 10px;
  padding: 25px;
  min-height: 30px; 
  background-color: 	#FFD700;
  
}